/* Text */

.text-center {
    text-align: center;
}

.heading-small {
    font-size: 1.25rem;
}

.heading-medium {
    font-size: 1.5rem;
}

.heading-big {
    font-size: 1.75rem;
}

/* Colors */

.bg-dark-orange {
    background: orangered
}

.bg-light-orange {
    background: orange;
}


/* Buttons  */

.btn {
    margin-top: 1rem;
    padding: 0.5rem;
    border-radius: 10px;
    letter-spacing: 1px;
}

.btn-primary {
    background: orange;
}

.btn-primary:hover {
    color: orange;
    background: white;
    border: 0.5px solid orange;
}

/* Forms */

.form-group {
    padding: 0.25rem 0;
}

.form-group label {
    display: block;
}

.form-control {
    width: 100%;
    padding: 0.4rem;
    font-size: 1rem;
    resize: none;
    border-radius: 5px;
}



/* Container */

.container {
    max-width: 1350px; 
    margin: 0 auto;
}

